<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>监测站点管理</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!--font icon-->
    <link rel="stylesheet" href="../plugins/fontclass/iconfont.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--mycss-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/pages.css"/>
    <!--vue.js-->
    <script src="../vue/vue.js"></script>
    <style>
        .add,.new{
            margin-top:15px;
        }
        .inputbox{
            padding:15px;
            border-radius:5px;
            box-shadow:0 0 50px #333;
            z-index: 1001;
            background:#FFF;
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
            width:400px;
            height:500px
        }
        .inputbox ul{
            list-style: none;
            overflow: hidden;
            padding:0;
        }
        .inputbox ul li{
            list-style: none;
            float:left;
            width:50%;
            margin:0;
            box-sizing: border-box;
        }
        .nav a{
            color:#666;
        }
        .nav .active a{
            color:#333;
            font-weight: 500;
        }
        .info{
            font-size: 12px;
            color:#666666;
        }
    </style>
</head>
<body>
<!--录入信息-->
<div class="inputbox hide" id="inputInfo">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a v-on:click="tabs(true,$event)">补充信息</a></li>
        <li role="presentation"><a v-on:click="tabs(false,$event)">新增数据</a></li>
    </ul>

    <!--补充信息-->
    <div class="add">
        <!--根据数据库数据补充-->
        <select name="timeSel" v-model="timeSel" @change="getInfo($event)" id="timeSel" class="form-control"></select>
    </div>
    <!--新增信息-->
    <div class="new hide">
        <input type="datetime-local" v-model="timePick" class="form-control dateTime" id="dateTime">
        <!--<button type="button" class="queryInfo" @click="getInfo($event)">查询</button>-->
    </div>

    <!--输入数据-->
    <p class="info">pH为无量纲，温度单位为摄氏度，其他单位为 mg/L</p>
    <ul class="inputList">
        <li>
            <span>温度</span>:
            <input type="text" v-model="info.temperature">
        </li>
        <li>
            <span>pH值</span>:
            <input type="text" v-model="info.ph">
        </li>
        <li>
            <span>溶氧量</span>:
            <input type="text" v-model="info.dissolved_oxyge">
        </li>
        <li>
            <span>电导率</span>:
            <input type="text" v-model="info.electrical_conductivity">
        </li>
        <li>
            <span>浊度</span>:
            <input type="text" v-model="info.turbidity">
        </li>
        <li>
            <span>氨氮</span>:
            <input type="text" v-model="info.ammontia">
        </li>
        <li>
            <span>叶绿素a</span>:
            <input type="text" v-model="info.chlorophyll_a">
        </li>
        <li>
            <span>蓝绿藻</span>:
            <input type="text" v-model="info.blur_green_algae">
        </li>
        <li>
            <span>高锰酸钾指数</span>:
            <input type="text" v-model="info.permanganate_index">
        </li>
        <li>
            <span>氟化物</span>:
            <input type="text" v-model="info.fluoride">
        </li>
        <li>
            <span>石油类</span>:
            <input type="text" v-model="info.pertoleum">
        </li>
        <li>
            <span>五日生化需氧量</span>:
            <input type="text" v-model="info.bod5">
        </li>
    </ul>

    <!--按钮组-->
    <div class="text-center">
        <button type="button" class="btn btn-default closedel" @click="close($event)">&nbsp;&nbsp;取 消&nbsp;&nbsp;</button>&nbsp;&nbsp;
        <button type="button" data-site="" class="btn btn-info" @click="save($event)">&nbsp;&nbsp;保 存&nbsp;&nbsp;</button>
    </div>
</div>

<!-------------------正文-------------->
<div class="container">
    <!--查找
    <div class="search-box">
        <form class="form-inline">
            <div class="form-group">
                <label for="type">按</label>
                <select class="form-control" name="type" id="type">
                    <option value="site_name">站点</option>
                    <option value="state">状态</option>
                    <option value="water_name">水域</option>
                    <option value="province_name">地区(省)</option>
                    <option value="area_name">地区(市)</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="sname">
            </div>
            <button type="button" class="btn btn-info btn-sm" id="search">&nbsp;&nbsp;查 找&nbsp;&nbsp;</button>
        </form>
    </div>-->
    <!--数据表格-->
    <div class="table-responsive">
        <!--待定 table-bordered-->
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <td>序号</td>
                <td>站点</td>
                <td>水质类型</td>
                <td>状态</td>
                <td>负责人</td>
                <td>水域</td>
                <td  colspan="2" class="text-center">地域</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="sitemanage">
            <template v-for="site in datainfo">
                <tr>
                    <td>{{site.site_id}}</td>
                    <td>{{site.site_name}}</td>
                    <td>{{site.stype}}</td>
                    <td>{{site.state}}</td>
                    <td>{{site.user_name}}</td>
                    <td>{{site.water_name}}</td>
                    <td>{{site.province_name}}</td>
                    <td>{{site.area_name}}</td>
                    <td>
                        <a v-on:click="open(site.site_id,$event)" class="iconfont icon-xiangxi"></a>
                    </td>
                </tr>
            </template>
            <tr>
                <td colspan="9" class="text-right">
                    共 <b class="recordCound"></b> 条记录 |
                    每页显示 <b class="pageSize"></b> 条记录 |
                    <b class="pageNum"></b>/<b class="pageCount"></b> 页
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--上一页下一页-->
    <nav aria-label="...">
        <ul class="pager" style="margin:0">
            <li class="previous disabled"><a href="#"><i class="icon-shangyiye iconfont"></i> 上一页</a></li>
            <li class="next"><a href="#">下一页 <i class="iconfont icon-xiayiye"></i></a></li>
        </ul>
    </nav>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../jQuery/jQuery-2.1.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<!--this page's js-->
<script src="../javascript/info_inputs.js"></script>
</body>
</html>